<!-- /Views/html/login.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/login.css" />
    <title>Sign Up or Login</title>
  </head>
  <body>
    <div class="container right-panel-active" id="container">
      <div class="form-container sign-up-container">
        <form action="/user/signUp" method="post">
          <h1>Create Account</h1>
          <span>Fill in your details & then login & you are good to go</span>
          <input
            type="text"
            placeholder="Name"
            name="name"
            id="name"
            required
          />
          <input
            type="email"
            placeholder="Email"
            name="email"
            id="email"
            required
          />
          <input
            type="password"
            id="password"
            placeholder="Password"
            name="password"
            required
          />
          <button id="signUpBtn">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form onsubmit="return false;">
          <h1>Login</h1>
          <span>use your credentials</span>
          <input
            type="email"
            placeholder="Email"
            name="loginEmail"
            id="loginEmail"
            required
          />
          <input
            type="password"
            placeholder="Password"
            name="loginPassword"
            id="loginPassword"
            required
          />

          <a href="/password/forgotPasswordPage">Forgot your password?</a>
          <button id="loginBtn">Login</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To track your expense please login with your personal info</p>
            <button class="ghost" id="signIn">Login</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>New to Spendzi</h1>
            <p>
              Fill your details and start tracking your expenses with Spendzi.
            </p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-hjsdM7r+jdGnUbzGg+Yz0oeD7nUa88o+FoFPvmjjT4IHocVtfzo2o4wU6aYLwMZIPlKLPznlVl1x06gK03EExA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/login.js"></script>
  </body>
</html>
